#square0
{
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

#square1
{
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

#square2
{
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

#square3
{
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

#square4
{
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

#square5
{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

#square6
{
  border-top: 1px solid black;
  border-right: 1px solid black;
}

#square7
{
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

#square8
{
  border-top: 1px solid black;
  border-left: 1px solid black;
}

.square
{
  line-height: 64px;
  height: 64px;
  width: 64px;
  text-align: center;
  vertical-align: bottom;
  font-size: 32px;
}

.x-win
{
  background-color: red;
}

.o-win
{
  background-color: blue;
}